{% extends "layout.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- <div class="underlined-title"> -->
            <div>
                <h1>Ansible Pioneer</h1>
                <hr>
            </div>
            <div class="services-wrapper">
                <div class="col-md-4">
                    <a href="netconf">
                        <div class="icon bg-deepocean">
                            <span class="fa fa-book"></span>
                        </div>
                        <h4>Netconf</h4>
                        <p>Manage Network With Netconf</p>
                    </a>
                </div>

                <div class="col-md-4">

                    <a href="inventory">
                        <div class="icon bg-sunflower">
                            <span class="fa fa-cloud"></span>
                        </div>
                        <h4>Network Lab</h4>
                        <p>Manage Lab Devices</p>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="ansible_builder">
                        <div class="icon bg-turquoise">
                            <span class="fa fa-edit"></span>
                        </div>
                        <h4>Ansible Builder</h4>
                        <p>Generate Boilerplate Code</p>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="testing">
                        <div class="icon bg-orange">
                            <span class="fa fa-tasks"></span>
                        </div>
                        <h4>Testing</h4>
                        <p>Run Integration, Unit Tests</p>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="validated_content">
                        <div class="icon bg-river">
                            <span class="fa fa-archive"></span>
                        </div>
                        <h4>Validated Content</h4>
                        <p>Validated Content Applications</p>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="triager">
                        <div class="icon bg-deco">
                            <span class="fa fa-bug"></span>
                        </div>
                        <h4>Network Triager</h4>
                        <p>Ansible Network Triage</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->

{% endblock content %}
