{% extends "layout.html" %}
{% block content %}
<br>
<br>


<div class="container">
  <h1 style="text-align:center">Network BGP Application</h1>
  <p class="lead">This GUI uses Ansible Collection <a href="https://github.com/ansible-network/network.bgp"> network.bgp</a> that provides a single platform-agnostics entry point to manage all the BGP network resources </p>
</div>
<div class="container">
  <form role="form" action="{{uri}}" name="inputs" method="post" class="">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Destination</label>
            <input type="text" class="form-control" id="rmDest" placeholder="~/ansible-collections/collections/ansible_collections/" name="rm_dest" value="{{rm_dest}}">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Collection Organization</label>

            <input type="text" class="form-control" id="collectionOrg" placeholder="The organization of the collection" name="collection_org" value="{{collection_org}}">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Collection Name</label>
            <input type="text" class="form-control" id="collectionName" placeholder="The name of the collection" name="collection_name" value="{{collection_name}}">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Resource</label>
            <input type="text" class="form-control" id="resource" placeholder="The network resource targeted by the module" name="resource" value="{{resource}}">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Docstring</label>
            <input type="text" class="form-control" id="docstring" placeholder="The path to the file that contains docstring" name="docstring" value="{{docstring}}">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Network OS</label>
            <input type="text" class="form-control" id="networkOS" placeholder="The value of network_os" name="network_os" value="{{network_os}}">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel">
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="control-label">Sample Playbook
              <span class="glyphicon glyphicon-question-sign" id="example"></span>
            </label>
            <textarea class="form-control" rows="10" id="xmlInput" name="xml" style="font-family:monospace;">{{xml}}</textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="form-group">
      </div>
      <div class="row">
        <div class="col-md-12">
          <button type="submit" name="submit" value="generate" class="btn btn-primary">Generate</button>
          <button type="submit" name="submit" value="reset" class="btn">Reset</button>
        </div>
      </div>
    </div>
    <div class="container">
      <br />
      <div class="row">
        <div class="col-md-12">
          <label class="control-label crsa-selected">Output</label>
          <pre>
                <code class="language-{{language}}">
                 <script>


                    var source = new EventSource("/rmb");
                    source.onmessage = function(event) {
                        document.getElementById("res").innerHTML += event.data + "<br/>"
                    }
                                      var source = new EventSource("/rmb");
                    source.onmessage = function(event) {
                        document.getElementById("res").innerHTML += event.data + "<br/>"
                    }
                  </script>
                </code>
              </pre>
        </div>
      </div>
    </div>
  </form>

  <!-- Modal -->
</div>
<div class="modal fade" id="exampleModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">NETCONF {{operation}} Snippets</h4>
      </div>
      <div class="modal-body">

        {% for example in snippets[ 'rmb' ] %}

        <pre onclick="inject_snippet(this)" data-dismiss="modal"><code>{{example}}</code></pre>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- /.container -->
<!-- Bootstrap core JavaScript
 ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="static/js/prism.js"></script>
<script src="static/assets/js/jquery.min.js"></script>
<script src="static/bootstrap/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="static/assets/js/ie10-viewport-bug-workaround.js"></script>
<script>
       (function() {
   var button=document.getElementById("add-user");
   button.addEventListener('click', function(event) {
      event.preventDefault();
      var cln = document.getElementsByClassName("user")[0].cloneNode(true);
      document.getElementById("users").insertBefore(cln,this);
      return false;
   });
})();
      $(document).ready(function(){
      $("#example").click(function(){
      $("#exampleModal").modal("toggle");

       <!-- find the radio button that is active -->
      var ncOper=$('input[name="oper"]:checked').val();
      <!-- if (window.console) console.log("Operation:" + ncOper); -->

      <!-- find the snippets that is active -->
      var data = {{ snippets | tojson }};
      <!-- if (window.console) console.log("snippets:" + data[ncOper]); -->


      $("#exampleModal .modal-title").html("Sample Playbook")

      <!-- generate dynamic modal depending on snippets -->
      var body="";
      $.each(data[ncOper], function(index, value) {
          <!-- clean out eascape chars -->
           var cleaned = $('<div/>').text(value).html()

           body +='<pre onclick="inject_snippet(this)" data-dismiss="modal"><code>' + cleaned + '</code></pre>';
      });
      <!-- if (window.console) console.log("body" + body); -->
      $("#exampleModal .modal-body").html(body)
      });
      });

      function toggleModal() {

      $("#exampleModal").modal("toggle");
      }

      function inject_snippet(preobj) {
      document.inputs.xml.value = preobj.firstChild.innerText;
      }

    </script>
{% endblock content %}
