{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- <div class="underlined-title"> -->
            <div>
                <h1>Validated Content</h1>
                <hr>
            </div>
            <div class="services-wrapper">
                <div class="col-md-4">
                    <a href="plugin_builder">
                        <div class="icon bg-deco">
                            <span class="fa fa-asterisk"></span>
                        </div>
                        <h4>Network Base</h4>
                        <p>Network Base Application</p>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="network_bgp">
                        <div class="icon bg-deepocean">
                            <span class="fa fa-connectdevelop"></span>
                        </div>
                        <h4>Network BGP</h4>
                        <p>Network BGP Application</p>
                    </a>
                </div>

                <div class="col-md-4">
                    <a href="rmb">
                        <div class="icon bg-orange">
                            <span class="fa fa-cubes"></span>
                        </div>
                        <h4>Network OSPF</h4>
                        <p>Network OSPF Application</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->

{% endblock content %}