<!DOCTYPE html>
<html lang="en" style="height:100%;">
    <head>
        <meta charset="utf-8">
        <title>Ansible Builder</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="NETCONF Operations Demonstrator" />
        <link rel="shortcut icon" href="static/ico/favicon.png">
        <!-- Core CSS -->

        <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="static/css/font-awesome.min.css" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet">
        <!-- Style Library -->
        <link href="static/css/style-library-1.css" rel="stylesheet">
        <link href="static/css/plugins.css" rel="stylesheet">
        <link href="static/css/blocks.css" rel="stylesheet">
        <link href="static/css/custom.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
        <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    </head>
    <body data-spy="scroll" data-target="nav">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">AP</a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if g.user %}
                        <li><a href="#">Login</a></li>
                    {% else %}
                        <li><a href="/"><i class="fa fa-home" style="font-size:20px"></i></a></li>
                        <li><a href="#"><i class="fa fa-gear" style="font-size:20px"></i></a></li>
                        <li><a href="#"><i class="fa fa-power-off" style="font-size:20px"></i></a></li>
                    {% endif %}
                </ul>
                <!-- <form class="navbar-form navbar-right">
                  <input type="text" class="form-control" placeholder="Search...">
                </form> -->
              </div>
            </div>
          </nav>

        <section id="content-1-3" class="content-block content-1-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- <div class="underlined-title"> -->
                        <div>
                            <h1>Ansible Builder</h1>
                            <hr>
                        </div>
                        <div class="services-wrapper">
                            <div class="col-md-4">
                                <a href="plugin_builder">
                                    <div class="icon bg-sunflower">
                                        <span class="fa fa-cogs"></span>
                                    </div>
                                    <h4>Ansible Plugin</h4>
                                    <p>Generate Ansible Plugin Boilerplate Code</p>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="rmb">
                                    <div class="icon bg-deepocean">
                                        <span class="fa fa-edit"></span>
                                    </div>
                                    <h4>Resource Module</h4>
                                    <p>Generate Resource Module Boilerplate Code</p>
                                </a>
                            </div>

                              <div class="col-md-4">
                                <a href="rmb">
                                    <div class="icon bg-orange">
                                        <span class="fa fa-lock"></span>
                                    </div>
                                    <h4>Security Module</h4>
                                    <p>Generate Security Module Boilerplate Code </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
        <script type="text/javascript" src="static/js/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="static/js/plugins.js"></script>
        <script src="https://maps.google.com/maps/api/js?sensor=true"></script>
        <script type="text/javascript" src="static/js/bskit-scripts.js"></script>
    </body>
</html>
